{
	"env": {
		"node": true,
		"mocha": true
	},
    "extends": [
      "airbnb"
    ],
    "plugins": [
      "mocha"
    ],
    "rules": {
		// No Dangling Allowed
		"comma-dangle": ["error", "never"],

		// Enables Tab Usage
		"no-tabs": "off",
        "indent": ["error", "tab"],

		// Double Quotes vs Single Quotes
		"quotes": [2, "double", "avoid-escape"],

		// KISS
		"complexity": [1, 5]
    }
  }