# Standard Runtime Things
pids
logs
tmp

# On Build Items
public/css/main.css

# Secret Stuff
config/config.json
config/passport.js

# Dependency Directories
node_modules
app/bower_components

# Editors
## IntelliJ Series
.idea
*.iml
## VSCode
.vscode

# OS Files
## macOS
.DS_Store
Thumbs.db
