footer.page-footer.grey.darken-3
	div.container
		div.row
			div.col.l6.s12
				h5.white-text Notices
				p.white-text All content belongs to respective creators and owners. EDShare is not affiliated in any way to the ElDewrito Project.
			dic.col.l4.offset-l2.s12.white-text
				h5 Intresting Sites
				ul
					li
						a(href="https://reddit.com/r/HaloOnline").white-text - Reddit
					li
						a(href="https://eldewrito.com").white-text - ElDewrito
					li
						a(href="https://halovau.lt").white-text - Ass Cancer
					li
						a(href="https://dev.fractalcore.net/git/qmarchi/edshare").white-text - EDShare is Open-Source
	div.footer-copyright
		div.container
			a &nbsp;