.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}

.arkdown-logo {
	height: 50px;
}

html {
	font-family: 'Nunito', sans-serif;
}

.input-field .prefix.active {
	color: #dc143c;
}

.switch label input[type=checkbox]:checked+.lever {
	background-color: #DC143C;
}

.switch label input[type=checkbox]:checked+.lever:after {
	background-color: #DC143C;
}

   /* label focus color */
input:not([type]):focus:not([readonly])+label,
input[type=text]:focus:not([readonly])+label,
input[type=password]:focus:not([readonly])+label,
input[type=email]:focus:not([readonly])+label,
input[type=url]:focus:not([readonly])+label,
input[type=time]:focus:not([readonly])+label,
input[type=date]:focus:not([readonly])+label,
input[type=datetime]:focus:not([readonly])+label,
input[type=datetime-local]:focus:not([readonly])+label,
input[type=tel]:focus:not([readonly])+label,
input[type=number]:focus:not([readonly])+label,
input[type=search]:focus:not([readonly])+label,
textarea.materialize-textarea:focus:not([readonly])+label {
	color: #dc143c;
}
   /* label underline focus color */
input:not([type]):focus:not([readonly]),
input[type=text]:focus:not([readonly]),
input[type=password]:focus:not([readonly]),
input[type=email]:focus:not([readonly]),
input[type=url]:focus:not([readonly]),
input[type=time]:focus:not([readonly]),
input[type=date]:focus:not([readonly]),
input[type=datetime]:focus:not([readonly]),
input[type=datetime-local]:focus:not([readonly]),
input[type=tel]:focus:not([readonly]),
input[type=number]:focus:not([readonly]),
input[type=search]:focus:not([readonly]),
textarea.materialize-textarea:focus:not([readonly]) {
	border-bottom: 1px solid #dc143c;
	box-shadow: 0 1px 0 0 #dc143c;
}

.card-title {
	text-shadow: 1px 1px 3px #000;
}

.settings-profile-img {
	max-width: 75%;
	height: auto;
}