extends layout

block content
	h1 Welcome to EDShare
	p.lead Back with another Brew
	hr
	.row.section
		.col.s12.m6.l4
			.icon-block
				h2.center.red-text.text-darken-2
					i.material-icons trending_up
				h5.center
					a.red-text.text-darken-2 Top Content
				p.center The best and most downloaded content available to anyone and everyone!
				p.center
					a(href="/content/top").btn.red.darken-2 View Top
		.col.s12.m6.l4
			.icon-block
				h2.center.red-text.text-darken-2
					i.material-icons access_time
				h5.center
					a.red-text.text-darken-2 Newest Content
				p.center Content so hipster, it was cool before cool meant cool in our current geo-social context.
				p.center
					a(href="/content/new").btn.red.darken-2 View Newest
		if !user
			.col.s12.m6.l4
				.icon-block
					h2.center.red-text.text-darken-2
						i.material-icons account_box
					h5.center
						a.red-text.text-darken-2 Login / Register
					p.center Join the cool kids club!
					p.center 
						a(href="/user/login").btn.red.darken-2 Login
					p.center
						a(href="/user/signup").btn.red.darken-2 Register
		else
			.col.s12.m6.l4
				.icon-block
					h2.center.red-text.text-darken-2
						i.material-icons account_box
					h5.center
						a.red-text.text-darken-2 My Account
					p.center Welcome Back! Glad to see that you're doing A-OK!
					p.center
						a(href="/user/"+user.name+"/content").btn.red.darken-2 My Content
	hr
	.section