.card.small
	.card-image
		img(src=card.headerImage)
		span.card-title= card.name
	.card-content
		p= card.shortDesc
		p &nbsp;

	.card-action
		a(href="/content/details/"+card.name+"/").red-text.text-darken-2 View Details